/MinimalSileroVAD.Core/obj
/MinimalVadTest/obj
/SipBot/.vs
SipBot/log.txt
/SipBot/obj
/SipBotLib/obj
/SipBotTestMs/bin
/SipBotTestMs/obj
/MinimalSileroVAD.Core/bin
/MinimalVadTest/bin
/SipBot/bin
/SipBotLib/bin
